/*********************/
/*       MAIN        */
/*********************/

main {
    background-color: red;
}

data svg {
    display: block;
    height: 0.5rem;
    width: 0.5rem;
    fill: var(--color-svg);
}

figure svg {
    width: 100%;
    height: 100%;
    transform: translate3d(0px, 0px, 0px);
    content-visibility: visible;
}

main section:nth-of-type(3) svg:nth-of-type(1) {
    display: block;
    height: 20px;
    width: 20px;
}

main section:nth-of-type(3) svg:not(:nth-of-type(1)) {
    display: block;
    height: 24px;
    width: 24px;
    fill: var(--color-svg);
}

main section:nth-of-type(4) svg {
    display: block;
    height: 24px;
    width: 24px;
    fill: var(--color-svg);
}