/*********************/
/*       MAIN        */
/*********************/

main {
    padding: 1.4em 1em;
}

h1, main section > h2, footer section:last-of-type h4 {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

main section {
    margin-bottom: 3em;
}

main section div a {
    font-size: 1.1em;
    font-weight: 600;
    color: var(--color-text);
}

section a {
    text-decoration: none;
}

main section div {
    display: grid;
    grid-template-columns: auto repeat(2, min-content);
    gap: 0.5em;
    align-items: center;
}

main section div a {
    grid-column: 1;
    display:flex;
    flex-direction: row;
    align-items: center;
    gap: 0.1em;
}

main section div a svg {
    display: block;
    fill: none;
    height: 0.8em;
    width: 0.8em;
    stroke: var(--color-text);
    stroke-width: 5.33333;
    overflow: visible;
}

main section div button {
    display:none
}

main section ul {
    display: flex;
    flex-direction: row;
    gap: 0.7em;   
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    margin-top: 1em;
    overscroll-behavior-x: contain;
    scrollbar-width: none;
}

main section ul > li {
    list-style: none;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc((100% - 0.7em) / 2);
    scroll-snap-align: start;
    position: relative;
}

main section ul li a {
    display: grid;
    grid-template-columns: repeat(4, minmax(min-content, max-content));
    grid-template-rows: auto repeat(3, min-content);
    row-gap: 0.3em;
    column-gap: 0.1em;
}

li img:nth-of-type(1) {
    grid-column: 1 / 5;
    grid-row-start: 1;
    width: 100%;
    aspect-ratio: 10.5 / 10;
    object-fit: cover;
    object-position: center;
    border-radius: 1.5em;
}

li h3 {
    grid-column: 1 / 5;
    grid-row-start: 2;
    font-size: 0.8em;
    font-weight: 500;
    color: var(--color-text);
}

li time {
    grid-column: 1 / 3;
    grid-row: 3;
    font-size: 0.75em;
    font-weight: 400;
    color: var(--color-paragraphs);
}

li p:nth-of-type(1) {
    grid-column: 3 / 5;
    grid-row: 3;
    font-size: 0.75em;
    font-weight: 400;
    color: var(--color-paragraphs);
    justify-self: start;
}

li p:nth-of-type(2) {
    grid-column: 1 / 4;
    grid-row: 4;
    font-size: 0.75em;
    font-weight: 400;
    color: var(--color-paragraphs);
}

data {
    grid-column: 4 / 5;
    grid-row: 4;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-self: start;
    gap: 0.25em;
    font-size: 0.75em;
    font-weight: 300;
    color: var(--color-paragraphs);
}

data svg {
    display: block;
    height: 0.7em;
    width: 0.7em;
    fill: var(--color-text);
}

li button {
    position: absolute;
    top: 0em;
    right: 0em;
    margin: 1em;
    z-index: 1;
    background-color: transparent;
    border: none;
    width: 1.9em;
    height: 1.9em;
}

main section button{
    transition: transform 0.2s ease;
  }

main section button:hover {
    transform: scale(1.1);
  }

li button svg {
    display: block;
    fill: var(--color-heart);
    aspect-ratio: 1;
    stroke: var(--color-background);
    stroke-width: 2;
    overflow: visible;
}

@media (min-width: 375px) {
    main {
        padding: 2em 1.5em;
    }
}

@media (min-width: 744px) {
    main section ul li {
        flex-basis: calc((100% - 2.1em) / 4);
    }

    main section div button svg {
        display: block;
        fill: none;
        height: 0.8em;
        width: 0.8em;
        stroke: currentcolor;
        stroke-width: 4;
        overflow: visible;
    }

    main section div > button:nth-of-type(1) {
        grid-column: 2;
    }

    main section div > button:nth-of-type(2) {
        grid-column: 3;
    }

    main section div button {
        background-color: var(--color-icon);
        border: none;
        border-radius: 100%;
        width: 1.9em;
        height: 1.9em;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (min-width: 950px) {
    main section ul li {
        flex-basis: calc((100% - 2.8em) / 5);
    }
}

@media (min-width: 1130px) {
    main section ul li {
        flex-basis: calc((100% - 3.5em) / 6);
    }
}

@media (min-width: 1500px) {
    main {
        padding: 2.1em 5.5em;
    }

    main section ul li {
        flex-basis: calc((100% - 4.2em) / 7);
    }
}