/*********************/
/*       MAIN        */
/*********************/

main {
    padding: 2em 1.5em;
}

/*Bron:
- https://www.a11yproject.com/posts/how-to-hide-content/
Vanuit post in Teams
*/

main h1, main section > h2 {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

main section {
    display: grid;
    grid-template-rows: max-content auto;
    gap: 1em;
    align-items: center;
    margin-bottom: 5em;
}

/* Kop */

main section > a {
    grid-row: 1;
    font-size: 1.1em;
    font-weight: 600;
    color: var(--color-svg);
    grid-column: 1;
    display:flex;
    flex-direction: row;
    align-items: center;
    gap: 0.1em;
}

main section a {
    text-decoration: none;
}

main section > a svg {
    display: block;
    fill: none;
    height: 0.8em;
    width: 0.8em;
    stroke: var(--color-svg);
    stroke-width: 5.33333;
    overflow: visible;
}

/* Carrousel */

main section ul {
    grid-row: 2;
    display: flex;
    flex-direction: row;
    gap: 0.7em;   
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    overscroll-behavior-x: contain;
    scrollbar-width: none;
}

main section:nth-of-type(1) ul {
    anchor-name: --carousel-parijs;
}

main section:nth-of-type(2) ul {
    anchor-name: --carousel-londen;
}

/* Bron:
- https://chrome.dev/carousel-configurator/ */

main section:nth-of-type(1) ul::scroll-button(*), main section:nth-of-type(2) ul::scroll-button(*) {
    position: fixed;
    position-anchor: --carousel-parijs;
    position-visibility: always;
    position-area: block-end center;
    background-color: var(--color-icon);
    background-size: 0.9em;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    border-radius: 2em;
    margin-top: 0.8em;
    width: 2em;
    height: 2em;
    transition: background-color 0.2s ease;
}

main section:nth-of-type(2) ul::scroll-button(*) {
    position-anchor: --carousel-londen;
}

main section ul::scroll-button(*):hover {
    background-color: var(--color-hover);
}

main section ul::scroll-button(*):active {
    background-color: var(--color-active);
}

main section ul::scroll-button(*):disabled {
    background-color: var(--color-background);
    border: 0.15em solid var(--color-disabled);
}

main section ul::scroll-button(right) {
    content: '' / 'Volgende';
    background-image: url(../images/scroll-volgende-lm.svg);
    justify-self: end;
}

main section ul::scroll-button(left) {
    content: '' / 'Vorige';
    background-image: url(../images/scroll-vorige-lm.svg);
    justify-self: start;
}

main section ul::scroll-button(right):disabled {
    background-image: url(../images/scroll-volgende-disabled.svg);
}

main section ul::scroll-button(left):disabled {
    background-image: url(../images/scroll-vorige-disabled.svg);
}

main section ul > li {
    list-style: none;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc((100% - 0.7em) / 2);
    scroll-snap-align: start;
    position: relative;
}

main section ul li a {
    display: grid;
    grid-template-columns: repeat(4, minmax(min-content, max-content));
    grid-template-rows: auto repeat(3, min-content);
    row-gap: 0.3em;
    column-gap: 0.1em;
}

/*Bron:
- https://www.digitalocean.com/community/tutorials/css-cropping-images-object-fit
*/

main li img {
    grid-column: 1 / 5;
    grid-row: 1;
    width: 100%;
    aspect-ratio: 10.5 / 10;
    object-fit: cover;
    object-position: center;
    border-radius: 1.5em;
}

main li h3 {
    grid-column: 1 / 5;
    grid-row: 2;
    font-size: 0.8em;
    font-weight: 500;
    color: var(--color-svg);
}

main li time {
    grid-column: 1 / 3;
    grid-row: 3;
    font-size: 0.75em;
    font-weight: 400;
    color: var(--color-text);
}

main li p:nth-of-type(1) {
    grid-column: 3 / 5;
    grid-row: 3;
    font-size: 0.75em;
    font-weight: 400;
    color: var(--color-text);
    justify-self: start;
}

main li p:nth-of-type(2) {
    grid-column: 1 / 4;
    grid-row: 4;
    font-size: 0.75em;
    font-weight: 400;
    color: var(--color-text);
}

main data {
    grid-column: 4 / 5;
    grid-row: 4;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-self: start;
    gap: 0.25em;
    font-size: 0.75em;
    font-weight: 300;
    color: var(--color-text);
}

main data svg {
    display: block;
    height: 0.7em;
    width: 0.7em;
    fill: var(--color-svg);
}

/* Favorieten knop */

main li button {
    position: absolute;
    top: 0em;
    right: 0em;
    margin: 1em;
    z-index: 1;
    background-color: var(--color-transparant);
    border: none;
    width: 1.9em;
    height: 1.9em;
}

main li button svg {
    display: block;
    fill: var(--color-heart-static);
    aspect-ratio: 1;
    stroke: var(--color-white-static);
    stroke-width: 2;
    overflow: visible;
    transition: fill 0.2s ease;
}

main li button svg:active {
    fill: var(--color-accent);
}

/* 'Favoriet van gasten' label */

main figure {
    background: var(--color-background);
    opacity: 90%;
    padding: 0.5em 0.8em;
    border-radius: 1em;
    position: absolute;
    top: 0em;
    left: 0em;
    margin: 1em;
    z-index: 1;
    right: 4em;
    min-width: min-content;
    max-width: max-content;
}

main figcaption {
    font-size: 0.7em;
    font-weight: 600;
    color: var(--color-selected);
}





/****************/
/*   MAIN: MQ   */
/****************/

@media (min-width: 46.5em) {
    main section {
        margin-bottom: 3em;
    }

    main section:nth-of-type(1) ul::scroll-button(*), main section:nth-of-type(2) ul::scroll-button(*) {
        position-area: block-start center;
        margin-bottom: 0.8em;
    }

    main section:nth-of-type(1) ul::scroll-button(left), main section:nth-of-type(2) ul::scroll-button(left) {
        justify-self: end;
        margin-right: 2.8em;
    }
    
    main section ul li {
    flex-basis: calc((100% - 2.1em) / 4);
    }
}

@media (min-width: 59.375em) {
    main section ul li {
        flex-basis: calc((100% - 2.8em) / 5);
    }
}

@media (min-width: 70.625em) {
    main section ul li {
        flex-basis: calc((100% - 3.5em) / 6);
    }
}

@media (min-width: 93.75em) {
    main {
        padding: 2.1em 5.5em;
    }

    main section ul li {
        flex-basis: calc((100% - 4.2em) / 7);
    }
}

@media (prefers-color-scheme: dark) {

  main section ul::scroll-button(right) {
      background-image: url(../images/scroll-volgende-dm.svg);
    }

  main section ul::scroll-button(left) {
      background-image: url(../images/scroll-vorige-dm.svg);
    }

  main section ul::scroll-button(right):disabled {
        background-image: url(../images/scroll-volgende-disabled-dm.svg);
    }

    main section ul::scroll-button(left):disabled {
        background-image: url(../images/scroll-vorige-disabled-dm.svg);
    }
}