/*********************/
/*       MAIN        */
/*********************/

main {
    background: var(--color-background);
    padding: 1.4em 1em;
}

/*Bron:
- https://www.a11yproject.com/posts/how-to-hide-content/
Vanuit post in Teams
*/

main h1, main section > h2 {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

main section {
    margin-bottom: 1em;
}

main section div a {
    font-size: 1.1em;
    font-weight: 600;
    color: var(--color-svg);
}

main section a {
    text-decoration: none;
}

main section div {
    display: grid;
    grid-template-columns: auto repeat(2, min-content);
    gap: 0.5em;
    align-items: center;
}

main section div a {
    grid-column: 1;
    display:flex;
    flex-direction: row;
    align-items: center;
    gap: 0.1em;
}

main section div a svg {
    display: block;
    fill: none;
    height: 0.8em;
    width: 0.8em;
    stroke: var(--color-svg);
    stroke-width: 5.33333;
    overflow: visible;
}

main section div button {
    display:none
}

main section ul {
    display: flex;
    flex-direction: row;
    gap: 0.7em;   
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    margin-top: 1em;
    overscroll-behavior-x: contain;
    scrollbar-width: none;
}

/*Bron:
- https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Values/calc
*/

main section ul > li {
    list-style: none;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc((100% - 0.7em) / 2);
    scroll-snap-align: start;
    position: relative;
}

main section ul li a {
    display: grid;
    grid-template-columns: repeat(4, minmax(min-content, max-content));
    grid-template-rows: auto repeat(3, min-content);
    row-gap: 0.3em;
    column-gap: 0.1em;
}

/*Bron:
- https://www.digitalocean.com/community/tutorials/css-cropping-images-object-fit
*/

main li img:nth-of-type(1) {
    grid-column: 1 / 5;
    grid-row-start: 1;
    width: 100%;
    aspect-ratio: 10.5 / 10;
    object-fit: cover;
    object-position: center;
    border-radius: 1.5em;
}

main li h3 {
    grid-column: 1 / 5;
    grid-row-start: 2;
    font-size: 0.8em;
    font-weight: 500;
    color: var(--color-svg);
}

main li time {
    grid-column: 1 / 3;
    grid-row: 3;
    font-size: 0.75em;
    font-weight: 400;
    color: var(--color-text);
}

main li p:nth-of-type(1) {
    grid-column: 3 / 5;
    grid-row: 3;
    font-size: 0.75em;
    font-weight: 400;
    color: var(--color-text);
    justify-self: start;
}

main li p:nth-of-type(2) {
    grid-column: 1 / 4;
    grid-row: 4;
    font-size: 0.75em;
    font-weight: 400;
    color: var(--color-text);
}

main data {
    grid-column: 4 / 5;
    grid-row: 4;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-self: start;
    gap: 0.25em;
    font-size: 0.75em;
    font-weight: 300;
    color: var(--color-text);
}

main data svg {
    display: block;
    height: 0.7em;
    width: 0.7em;
    fill: var(--color-svg);
}

main li button {
    position: absolute;
    top: 0em;
    right: 0em;
    margin: 1em;
    z-index: 1;
    background-color: var(--color-transparant);
    border: none;
    width: 1.9em;
    height: 1.9em;
}

main figure {
    background: var(--color-background);
    opacity: 90%;
    padding: 0.5em 0.8em;
    border-radius: 1em;
    position: absolute;
    top: 0em;
    left: 0em;
    margin: 1em;
    z-index: 1;
    right: 4em;
    min-width: min-content;
    max-width: max-content;
}

main figcaption {
    font-size: 0.7em;
    font-weight: 600;
    color: var(--color-selected);
}

main section button {
    transition: transform 0.2s ease;
  }

main section button:hover {
    transform: scale(1.1);
  }

main li button svg {
    display: block;
    fill: rgba(0, 0, 0, 0.5);
    aspect-ratio: 1;
    stroke: #ffffff;
    stroke-width: 2;
    overflow: visible;
    transition: fill 0.2s ease;
}

main li button svg:active {
    fill: var(--color-accent);
}





/****************/
/*   MAIN: MQ   */
/****************/

@media (min-width: 375px) {
    main {
        padding: 2em 1.5em;
    }
}

@media (min-width: 46.5em) {
    main section ul li {
        flex-basis: calc((100% - 2.1em) / 4);
    }

    main section div button svg {
        display: block;
        fill: none;
        height: 0.8em;
        width: 0.8em;
        stroke: var(--color-svg);
        stroke-width: 4;
        overflow: visible;
    }

    main section div > button:nth-of-type(1) {
        grid-column: 2;
    }

    main section div > button:nth-of-type(2) {
        grid-column: 3;
    }

    main section div button {
        background-color: var(--color-icon);
        border: none;
        border-radius: 100%;
        width: 1.9em;
        height: 1.9em;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: background-color 0.2s ease;
    }

    main section div button:hover {
        background-color: var(--color-hover);
    }

    main section div button:active {
        background-color: var(--color-active);
    }
}

@media (min-width: 59.375em) {
    main section ul li {
        flex-basis: calc((100% - 2.8em) / 5);
    }
}

@media (min-width: 70.625em) {
    main section ul li {
        flex-basis: calc((100% - 3.5em) / 6);
    }
}

@media (min-width: 93.75em) {
    main {
        padding: 2.1em 5.5em;
    }

    main section ul li {
        flex-basis: calc((100% - 4.2em) / 7);
    }
}