/**************/
/* CSS REMEDY */
/**************/

*, *::after, *::before {
  box-sizing:border-box;
  margin: 0;
  padding: 0;  
}






/*********************/
/* CUSTOM PROPERTIES */
/*********************/
@font-face { 
  font-family: Airbnb;
  src: url(../fonts/AirbnbCerealVF.woff2);
  font-weight: 400;
}

@font-face { 
  font-family: Airbnb;
  src: url(../fonts/AirbnbCerealVF.woff2);
  font-weight: 500;
}

@font-face { 
  font-family: Airbnb;
  src: url(../fonts/AirbnbCerealVF.woff2);
  font-weight: 700;
}

:root {
	--color-background: #ffffff;
  --color-footer: #f7f7f7;
  --color-text: #222222;
  --color-accent:#ff385c;
  --color-icon: #f2f2f2;
  --color-hover: #ebebeb;
  --color-contrast: #f8f8f8;
  --color-shadow: #00000033;
  --color-paragraphs: #6A6A6A;
  --color-heart: rgba(0, 0, 0, 0.5);
  --color-unselected: #6a6a6a;
  --color-selected: #000000;
}





/****************/
/*    HEADER    */
/****************/

body {
  font-family: Airbnb, sans-serif;
}

header {
  background: linear-gradient(180deg, var(--color-background) 0%, var(--color-contrast)100%);
  display: grid;
  grid-template-rows: repeat(2, auto);
  align-items: center;
  gap: 0.8em;
  box-shadow: 0 0.06em 0.18em var(--color-shadow);
  position: sticky;
  top: 0;
  z-index: 2;
}

header ul {
  grid-row: 2;
  list-style: none;
  display: flex;
  justify-content: space-between;
  justify-self: center;
  padding: 0 2.5em;
  width: 90%;
}

header li a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  font-size: 0.75em;
}

header li a span {
  transition: transform 0.3s ease;
}

header li:nth-of-type(1) > a span {
  color: var(--color-text);
  font-weight: 600;
  border-bottom: 0.3em solid var(--color-selected);
  padding-bottom: 0.2em;
}

header li a lottie-player {
  height: 4em;
  transition: height 0.2s ease;
}

header.scroll li a lottie-player {
  height: 0em;
}

header li:nth-of-type(2) > a, header li:nth-of-type(3) > a {
  color: var(--color-unselected);
  font-weight: 400;
  border-bottom: 0.3em solid transparent;
  padding-bottom: 0.2em;
}

header > button:nth-of-type(4) {
  grid-row: 1;
  justify-self: center;
  align-self: end;
  background-color: var(--color-background);
  padding: 1.4em;
  border: 0.125em solid transparent;
  border-radius: 3em;
  box-shadow: 0 0 0.63em var(--color-shadow);
  font-weight: 500;
  font-size: 0.95em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.7em;
  width: 87%;
  height: 3.5em;
  min-width: 10em;
  margin-top: 1em;
}

header > button:nth-of-type(4):hover {
  border: 0.125em solid black;
}

header > button:nth-of-type(4) svg {
  display: block;
  height: 0.9em;
  width: 0.9em;
  fill: var(--color-text);
  align-self: center;
}

header > picture, header > button:not(:last-of-type), header > form {
  display: none;
}

@media (min-width: 744px) {
  header {
    grid-template-columns: min-content 1fr repeat(3, min-content);
    grid-template-rows: 5em 1fr;
    padding: 0.4em 3em 2.8em 3em;
    gap: 0.5em 1em;
    height: auto;
    transition: padding 0.2s ease;
  }

  header.scroll {
    padding: 0.4em 3em 0em 3em;
  }

  header li a {
    border-bottom: 0.25em solid var(--color-selected);
    padding-bottom: 0.2em;
  }

  header li:nth-of-type(1) > a span {
    border-bottom: none;
  }

  header nav {
    transition: transform 0.2s ease, opacity 0.2s ease;
    transform: translateY(0);
    opacity: 1;
  }

  header.scroll nav {
    transform: translateY(-100%);
    opacity: 0;
  }

  header > picture {
    width: 2.2em;
    height: 2.2em;
    grid-column: 1;
    grid-row: 1;
    display: block;
  }

  header > form {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1.5em;
    grid-row: 2;
    grid-column: 1 / 6;
    justify-self: center;
    align-self: start;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-background);
    border: 0.125em solid transparent;
    border-radius: 10em;
    box-shadow: 0 0 0.63em var(--color-shadow);
    font-weight: 500;
    font-size: 0.75em;
    width: 95%;
    max-width: 71em;
    padding: 0.6em 0.7em 0.6em 2.7em;
  }

  header.scroll > form {
    grid-row: 1;
    grid-column: 1 / 6;
    width: auto;
    height: auto;
    align-self: center;
    grid-template-columns: repeat(3, min-content);
  }

  header > form label:nth-of-type(1), header > form label:nth-of-type(2), header > form label:nth-of-type(3) {
    grid-row: 1;
    align-self: end;
  }

  header > form input:nth-of-type(1), header > form input:nth-of-type(2), header > form input:nth-of-type(3) {
    grid-row: 2;
    align-self: center;
  }

  header > form label:nth-of-type(1), header > form input:nth-of-type(1) {
    grid-column: 1;
  }

  header > form label:nth-of-type(2),  header > form input:nth-of-type(2) {
    grid-column: 2;
  }

  header > form label:nth-of-type(3), header > form input:nth-of-type(3) {
    grid-column: 3;
  }

  header > form input {
    border: none;
    font-size: 1.2em;
  }
  
  header > form > button svg {
    display: block;
    fill: none;
    height: 1.2em;
    width: 1.2em;
    stroke: var(--color-background);
    stroke-width: 4;
    overflow: visible;
    transition: width 0.2s ease, height 0.2s ease;
  }

  header.scroll > form > button svg {
    height: 1em;
    width: 1em;
  }

  header > form button {
    justify-self: end;
    grid-column: 3;
    grid-row: 1 / 3;
    background-color: var(--color-accent);
    border: none;
    border-radius: 100%;
    width: 3.6em;
    height: 3.6em;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: width 0.2s ease, height 0.2s ease;
  }

  header.scroll > form button {
    width: 2.5em;
    height: 2.5em;
  }

  header > button:nth-of-type(2) {
    grid-column: 4;
    grid-row: 1;
  }

  header > button:nth-of-type(3) {
    grid-column: 5;
    grid-row: 1;
  }

  header > button:nth-of-type(4) {
    display:none;
  }

  header > button:nth-of-type(2) svg, header > button:nth-of-type(3) svg {
    display: block;
    fill: var(--color-text);
    height: 1.2em;
    width: 1.2em;
    overflow: visible;
  }

  header > button:nth-of-type(3) svg {
    stroke: currentcolor;
    stroke-width: 3;
  }

  header > button:nth-of-type(2), header > button:nth-of-type(3) {
    background-color: var(--color-icon);
    border: none;
    border-radius: 100%;
    width: 3em;
    height: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  header > button:not(:last-of-type):hover {
    background-color: var(--color-hover);
  }

  header nav {
    grid-column: 1 / 6;
    grid-row: 1;
  }

  header ul {
    justify-content: center;
    gap: 2em;
    width: auto;
    margin-bottom: 0em;
  }

  header li a {
    flex-direction: row;
    align-items: center;
    width: auto;
    height: 3.7em; 
    gap: 0.2em;
    font-size: 0.9em;
  }

  lottie-player {
    transition: transform 0.2s ease;
  }

  lottie-player:hover {
    transform: scale(1.1);
  }
}

@media (min-width: 1127px) {
  header > button:nth-of-type(1) {
    grid-column: 3;
    grid-row: 1;
    background-color: transparent;
    border: none;
    border-radius: 2em;
    font-size: 0.9em;
    font-weight: 600;
    width: 7em;
    height: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}





/****************/
/*    FOOTER    */
/****************/

footer > section:nth-of-type(2) > button > svg {
  display: block;
  height: 1.2em;
  width: 1.2em;
  fill: currentcolor;
}